*{
    margin: 0;
    padding: 0;
}
header{
    width: 1920px;
    height: 50px;
    background-color: palevioletred;
}
.box{
    display: flex;
    flex-flow: row nowrap;
    width: 1920px;
    height: 940px;
}
nav{
    width: 150px;
    flex-basis: 150px;
    background-color: pink;
    overflow-y: auto; 
}
.content{
    width: 1770px;
    background-color: #ccc;
    overflow: auto;
}
p{
    height: 1000px;
}
.content p{
    width: 2000px;
}