*{
    margin: 0;
    padding: 0;
}
header{
    width: 1920px;
    height: 50px;
    background-color: lightseagreen;
}
nav{
    width: 150px;
    height: 940px;
    background-color: seagreen;
    overflow-y: auto;
    float: left;
}
.content{
    width: 1750px;
    height: 940px;
    background-color:silver;
    overflow: auto;
    float: left;
}
p{
    height: 1000px;
}
.content p{
    width: 2000px;
}